<!DOCTYPE HTML>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- <link href="css/style.css" media="screen" rel="stylesheet" type="text/css" /> -->
    <link href="css/smoothness/jquery-ui-1.10.0.custom.css" rel="stylesheet">

  </head>
  <body>

    <script id="dialog-template" type="text/template">
        <p>Вопрос: <%= question %></p>
        <p>Ответ:</p>
        <form>
          <input type="hidden" name="dialog-id" value="<%= id %>">
          <ul>
            <% for ( var key in ansvers) {%>
              <li>
                <label><%= ansvers[key].label %><input name="ansver" type="<%= type %>" value="<%= ansvers[key].value %>"></label>
              </li>
            <% } %>
          </ul>
        </form>
    </script>

    <script src="js/jquery-1.9.0.js"></script>
    <script src="js/lodash.underscore.min.js"></script>
    <script src="js/backbone-min.js"></script>
    <script src="js/jquery-ui-1.10.0.custom.js"></script>
    <script src="js/frontend.js"></script>
  </body>
</html>
